
include ./layout
block content
	div.container
		div.rows
			div.col-lg-10
				form.form-inline
						input.form-control#searchId(type="text" , placeholder="Seach ID")
						button.btn.btn-default#finalsearch(type="submit") Search
				table.table.table-bordered.table-hover(id='finaltable')
					tr
						th id
						th name
						th questionA
						th questionB
						th questionC
						th questionD
						th questionE
					tbody#infoContainer
						each item in result
							tr
								td #{item.stu_id}
								td #{item.username}
								td  
									input.form-control.form-control-sm
								td 
									input.form-control.form-control-sm
								td 
									input.form-control.form-control-sm
								td 
									input.form-control.form-control-sm
								td
									input.form-control.form-control-sm
					tfoot
							tr
								td(colspan='9')
									a.btn.btn-success#savefinal save

	script(src="/javascripts/adminpanel.js")
