extends layout

block content
    link(href='/stylesheets/bg_set.css', rel='stylesheet')
    div.container
        h1 Node Demo Demo DDDDemo
        br
        h4 肉眼看到的宇宙 迷惑於发光的星球
        h4 观赏的人没有错 不能察觉的太薄弱
        h4 你照你的方向走 只是不能让我感受
        h4 你认知的理所当然 不适合套用在我
