include ./layout

block content
div.container
 h2.page-header Login
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}
 form(method='post', action='/users/login')
  .form-group
   label ID
   input.form-control(name='username', type='text', placeholder='Enter ID')
  .form-group
   label Password
   input.form-control(name='password', type='password', placeholder='Enter Password')
  input.btn.btn-primary(type='submit', name='submit',value='Login')
  |&nbsp
  |&nbsp
  a.btn.btn-success#githublogin(href="/users/login/github") *Login with Github*
  |&nbsp
  |&nbsp
  a.btn.btn-success#githublogin(href="/users/login/google") *Login with Google*
 
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}

